* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0 0 10px;
}

body {
   background-color: #ffffff;
}

.container {
   width: 100%;
   max-width: 75rem;
   margin: 0 auto;
}

.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;

    position: fixed;

    background-color: #31344e;
}

.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    border-bottom: 1px solid #515369;
}

.header__navigation {
   list-style-type: none;

   &.header__navigation li {
      display: inline;
      margin-left: 3rem;
   }

   &.header__navigation a,
   label {
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      opacity: 0.75;

      transition: opacity 0.1s linear;

      &:hover {
         opacity: 1;
      }

      &:active {
     
      }
   }
}
.header__navigation li:first-child {
   margin-left: 0;
}

.header__navigation label {
   display: none;
}

input[type="checkbox"] {
   display: none;
}

@media screen and (max-width: 600px) {
   .header__navigation label {
      display: inline-block;
   }
   nav > ul {
      display: none;
   }
   input[type="checkbox"]:checked ~ label + ul {
      display: block;
      width: 144px;
   }
   .header__logo__img {
      max-width: 7rem;
   }
}

.intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 47rem;
   background-color: #2f3675;
   padding-top: 6rem;
}

.intro__title {
   margin: 0 0 1.8rem;
   font-size: 4rem;
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   line-height: 1.1;
}

.intro__sub {
   font-size: 1.4rem;
   color: #fff;
   line-height: 1.5;
   font-weight: 400;
   text-align: center;
}

.about {
   display: flex;
}
.about__img {
   width: 50%;
}
.about__text {
   width: 50%;
}
